<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clothes Gallery</title>
    <!-- Bootstrap -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div >
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#view">Clothes Gallery</a>
        </div>
		<div id="navbar" class="collapse navbar-collapse">
		 <ul class="nav navbar-nav">
		  	<li class="active"><a href="/">首页</a></li>
			<li><a href="/show/?type=tops">上衣</a></li>
			<li><a href="/show/?type=pants">裤子</a></li>
			<li><a href="/show/?type=shoes">鞋包</a></li>
		  </ul><button type="button" class="btn btn-default navbar-right">搭配风</button>
		</div>
		<!--
		<div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>-->
		<!--/.navbar-collapse -->
		
      </div>
</nav>
</div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
      <h3>Tips on clothing.</h3>
      </div>
    </div>
<div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Tips on Clothing</h1>
       <!-- <p class="lead blog-description">I don't know if it is satisfying, but the layout looks pretty good.</p>-->
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">         		
            {% for tip in sel %}
				<div class="row thumbnail">
					<div class="col-xs-12 col-md-6">
						<a href="#" class="thumbnail">
                            <img src='{{tip.images[0].url}}' alt="...">
					
							<div class="caption">
							  <button class="btn btn-primary" type="button">
								Level <span class="badge">4</span>
							  </button>
							</div>
						</a>
					</div>
					<div class="col-xs-0 col-md-6">
                        <h2>{{tip.title[0].encode('utf-8')}}</h2>
                        <br/>
                        <h4>{{tip.short_dscr[0].encode('utf-8') + tip.short_dscr[1].encode('utf-8')}}</h4>
						<a href="#">Click for more</a>
					</div>
				</div>
            {% endfor %}
<!--				
				<div class="row thumbnail">
					<div class="col-xs-6 col-md-6">
						<p>Description</p>
						<a href="#">Click for more</a>
					</div>
					<div class="col-xs-6 col-md-6">
						<a href="#" class="thumbnail">
							<img src="http://b.hiphotos.baidu.com/baike/c0%3Dbaike220%2C5%2C5%2C220%2C73/sign=f9526156720e0cf3b4fa46a96b2f997a/342ac65c1038534392f24b659313b07eca8088b1.jpg" alt="...">
					
							<div class="caption">
							  <button class="btn btn-primary" type="button">
								Level <span class="badge">4</span>
							  </button>
							</div>
						</a>
					</div>
					
				</div>
				
				<div class="row thumbnail">
					<div class="col-xs-6 col-md-6">
						<a href="#" class="thumbnail">
							<img src="http://b.hiphotos.baidu.com/baike/c0%3Dbaike220%2C5%2C5%2C220%2C73/sign=f9526156720e0cf3b4fa46a96b2f997a/342ac65c1038534392f24b659313b07eca8088b1.jpg" alt="...">
					
							<div class="caption">
							  <button class="btn btn-primary" type="button">
								Level <span class="badge">4</span>
							  </button>
							</div>
						</a>
					</div>
					<div class="col-xs-6 col-md-6">
						<p>Description</p>
						<a href="#">Click for more</a>
					</div>
				</div>
					
					
				<div class="row thumbnail">
					<div class="col-xs-6 col-md-6">
						<p>Description</p>
						<a href="#">Click for more</a>
					</div>
					<div class="col-xs-6 col-md-6">
						<a href="#" class="thumbnail">
							<img src="http://b.hiphotos.baidu.com/baike/c0%3Dbaike220%2C5%2C5%2C220%2C73/sign=f9526156720e0cf3b4fa46a96b2f997a/342ac65c1038534392f24b659313b07eca8088b1.jpg" alt="...">
					
							<div class="caption">
							  <button class="btn btn-primary" type="button">
								Level <span class="badge">4</span>
							  </button>
							</div>
						</a>
					</div>
					
				</div>
		  
    -->	  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar hidden-xs">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Aside from choosing popular clothes, another important thing is to make shure that your clothes matches
            well with each other. Here we provide some tips about it to help you make good choices.</p>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="http://www.vogue.com.cn/?international">Vogue</a></li>
              <li><a href="http://www.mogujie.com/fashion?ptp=1.Bvij3Gw2._headch.3.2AQjMh">Mogujie</a></li>
              <li><a href="http://www.mimito.com.cn/">Nvrenjie</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
</div>
    <nav class="col-md-offset-5 navbar-static-bottom">
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
              <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              </a>
          </li>
        </ul>
    </nav>

</br></br>
  <hr>
  <p class="text-center">Designed by Qingying Chen, Yiqun Ouyang, Minxing Liu, Yangqingwei Shi, Peking University.
  </p>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
   <!-- ×îÐÂµÄ Bootstrap ºËÐÄ JavaScript ÎÄ¼þ -->
  <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
